* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 500px;
}

.search input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search select {
    padding: 8px;
    border: 1px solid #ccc;
    border-left: none;
}

.search-button {
    display: inline-block; /* Para que se vea como un botón */
    padding: 5px 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0 5px 5px 0;
    text-decoration: none; /* Eliminar subrayado del enlace */
}


.account {
    display: flex;
    align-items: center;
}

.account button {
    padding: 8px 15px;
    border: none;
    background-color: black;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.cart img {
    width: 25px;
    cursor: pointer;
}

main {
    padding: 20px;
}

.admin-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.product-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1 1 calc(50% - 20px); /* 50% width minus gap */
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 80px;
}

input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}


.save-btn {
    flex: 1 1 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
