body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.highlight {
    color: #000;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-size: 14px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.username-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.username-container input {
    border: none;
    flex: 1;
    padding: 10px;
    outline: none;
}

.domain {
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    color: #333;
    border-left: 1px solid #ccc;
}

.btn {
    background-color: #f9a825;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e6891b;
}

.redirect-login {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

.redirect-login .login-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.redirect-login .login-link:hover {
    text-decoration: underline;
}

